<div class="card bg-light mb-3">
    <div class="card-header"><h1>login</h1></div>
    <div class="card-body">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="email" class="bmd-label-static">Email address</label>
                <input type="email" class="form-control" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password" class="bmd-label-static">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>