.navbar-nav ,#schedules {
    input[type="submit"] {
        border: none;
        background-color: unset;
        cursor: pointer;
    }
}
.profile_img {
    width: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 3px;
}
.nav-profile {
    display: flex;
    align-items: center;
}

#schedules {
    .card-header {
        .badge {
            float: right;
        }
    }
    .card-footer form {
        display: inline;
    }
    #schedule_modal {
        justify-content: center;
        display: flex;
        #dateHelp {
            float: right;
        }
    }
}
#chat {
    .profile_img {
        width: 15px;
        height: 15px;
        object-fit: cover;
        border: 1px solid gray;
        border-radius: 50%;
    }
}